<%= image_tag @portfolios.main_image unless @portfolios.main_image.nil? %>

<h1><%= @portfolios.title %></h1>
<em><%= @portfolios.subtitle %></em>
<p><%= @portfolios.body %></p>

<h2>Technologies Used:</h2>

<% @portfolios.technologies.each do |t| %>
<p><%= t.name %></p>
<% end %>

